In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./german credit.csv", header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2

In [4]:
X = df.iloc[:,:df.shape[1]-1]
y = df.iloc[:,df.shape[1]-1]

In [5]:
# 1-d 할려면 이모양으로 X 만드러야 됨. (관측치개수 * 변수수 * 1)

X = np.array(X).reshape(-1,24,1)

In [6]:
X.shape

(1000, 24, 1)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
X_train.shape

(670, 24, 1)

In [10]:
from __future__ import print_function

import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop

Using TensorFlow backend.

In [11]:
batch_size = 128
num_classes = 2
epochs = 20

# 원핫인코딩
# 왜인지 모르겠는데 카테고리가 0을 포함하게 만들어야 되는듯..
y_train = y_train-1
y_test = y_test-1

# convert class vectors to binary class matrices
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

In [13]:
input_shape = X.shape[1:3]
input_shape

(24, 1)

In [14]:
from keras.layers import Conv1D, Flatten

In [15]:
model = Sequential()
model.add(Conv1D(32, kernel_size = (3),
                 activation='relu',
                 input_shape= input_shape))
model.add(Conv1D(64, (3), activation='relu'))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(num_classes, activation='softmax'))

In [16]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_1 (Conv1D)            (None, 22, 32)            128
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 20, 64)            6208
_________________________________________________________________
flatten_1 (Flatten)          (None, 1280)              0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               163968
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 258
=================================================================
Total params: 170,562
Trainable params: 170,562
Non-trainable params: 0
_________________________________________________________________

In [17]:
model.compile(loss='binary_crossentropy',
              optimizer=RMSprop(),
              metrics=['accuracy'])

history = model.fit(X_train, y_train,
                    batch_size=batch_size,
                    epochs=epochs,
                    verbose=1,
                    validation_data=(X_test, y_test))
score = model.evaluate(X_test, y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Train on 670 samples, validate on 330 samples
Epoch 1/20
670/670 [==============================] - 1s 2ms/step - loss: 3.0972 - acc: 0.6075 - val_loss: 1.2206 - val_acc: 0.6939
Epoch 2/20
670/670 [==============================] - 1s 1ms/step - loss: 0.8413 - acc: 0.6537 - val_loss: 0.8487 - val_acc: 0.6939
Epoch 3/20
670/670 [==============================] - 1s 1ms/step - loss: 0.6529 - acc: 0.6955 - val_loss: 0.6001 - val_acc: 0.7091
Epoch 4/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5829 - acc: 0.6985 - val_loss: 1.0212 - val_acc: 0.6939
Epoch 5/20
670/670 [==============================] - 1s 1ms/step - loss: 0.6969 - acc: 0.6731 - val_loss: 0.5955 - val_acc: 0.7121
Epoch 6/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5768 - acc: 0.7209 - val_loss: 0.6510 - val_acc: 0.6515
Epoch 7/20
670/670 [==============================] - 1s 1ms/step - loss: 0.6407 - acc: 0.6761 - val_loss: 0.7080 - val_acc: 0.5212
Epoch 8/20
670/670 [==============================] - 1s 1ms/step - loss: 0.6216 - acc: 0.6687 - val_loss: 0.6187 - val_acc: 0.7182
Epoch 9/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5713 - acc: 0.7090 - val_loss: 0.7619 - val_acc: 0.5545
Epoch 10/20
670/670 [==============================] - 1s 1ms/step - loss: 0.6757 - acc: 0.6552 - val_loss: 0.7317 - val_acc: 0.5667
Epoch 11/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5934 - acc: 0.7030 - val_loss: 0.6215 - val_acc: 0.6364
Epoch 12/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5556 - acc: 0.7164 - val_loss: 0.6169 - val_acc: 0.6818
Epoch 13/20
670/670 [==============================] - 1s 1ms/step - loss: 0.6034 - acc: 0.6761 - val_loss: 0.6271 - val_acc: 0.7000
Epoch 14/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5672 - acc: 0.7269 - val_loss: 0.5918 - val_acc: 0.7212
Epoch 15/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5509 - acc: 0.7194 - val_loss: 0.6714 - val_acc: 0.6303
Epoch 16/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5560 - acc: 0.7164 - val_loss: 0.6269 - val_acc: 0.6515
Epoch 17/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5464 - acc: 0.7239 - val_loss: 0.5693 - val_acc: 0.7061
Epoch 18/20
670/670 [==============================] - 1s 2ms/step - loss: 0.5503 - acc: 0.7194 - val_loss: 0.5582 - val_acc: 0.7424
Epoch 19/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5201 - acc: 0.7358 - val_loss: 0.6201 - val_acc: 0.7000
Epoch 20/20
670/670 [==============================] - 1s 1ms/step - loss: 0.5239 - acc: 0.7403 - val_loss: 0.5545 - val_acc: 0.7333
Test loss: 0.5545242887554747
Test accuracy: 0.733333332972093